.bgimg {
    background-image: url("/images/IMG_3909.JPG");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .main-container {
      min-height: 100vh;
      overflow: hidden;
      display: block;
      position: relative;
      padding-bottom: 50px;
  }

  .footer{
      width: 100%;
      position: static;
      bottom: 0;
      margin: 0;
  }

  .pnx-msg-icon pnx-icon-msg-warning {
      width: 100%;
  }
